appdirs==1.4.3
attrs==18.2.0
blinker==1.4
cached-property==1.5.1
cachetools==2.1.0
certifi==2018.8.24
chardet==3.0.4
Click==7.0
coverage==4.5.1
defusedxml==0.5.0
Flask==1.0.2
Flask-DebugToolbar==0.10.1
Flask-SQLAlchemy==2.3.2
google-api-python-client==1.7.4
google-auth==1.5.1
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.2.0
httplib2==0.11.3
idna==2.7
isodate==0.6.0
itsdangerous==0.24
Jinja2==2.10
lxml==4.9.1
MarkupSafe==1.0
oauthlib==2.1.0
pkg-resources==0.0.0
psycopg2==2.7.5
pyasn1==0.4.4
pyasn1-modules==0.2.2
PyJWT==1.6.4
PySocks==1.6.8
pytz==2018.5
requests==2.20.1
requests-oauthlib==1.0.0
requests-toolbelt==0.8.0
rsa==4.0
selenium==3.14.1
six==1.11.0
SQLAlchemy==1.2.12
twilio==6.19.0
uritemplate==3.0.0
urllib3==1.23
Werkzeug==0.14.1
zeep==3.1.0
