body {
    background-color: ##F7F9F9;
}

nav {
    background-color: #B6DCFE; /* light blue */
}

.navbar-light .navbar-text a {
    color: #090C9B; /* bright blue */
}

h1, h2, h3, h4 {
    color: #00A676; /* like a teal green */
}

.fa-user {
    cursor: pointer;
}

h2 .fas,
tr .fas {
    color: #090C9B;
}

#logoImg {
    min-width: 3em; 
    max-width: 5em;
}

#flashMessage{
    display: flex;
    justify-content: center;
    align-items: center;
}

.removeMarginBottom {
    margin-bottom: 0;
}

.justifyText {
    text-align: justify;
}

.removePaddingLeftRight {
    padding-right: 0; 
    padding-left: 0;
}