.message-description {
    height: 1em;
    overflow: hidden;
}

.expand-cursor {
    cursor: pointer;
}

#messagesErrorMessage,
#textMessageErrorMessage,
#emailMessageErrorMessage,
#gmailMessageErrorMessage {
    display: none;
}