.message-description {
    height: 1.5em;
    overflow: hidden;
}

.message-description:hover{
    background-color: #e3f2fd;
}

.expand-cursor {
    cursor: pointer;
}

#messagesErrorMessage,
#textMessageErrorMessage,
#emailMessageErrorMessage,
#gmailMessageErrorMessage {
    display: none;
}

.message-star {
    cursor: pointer;
}