.message-description {
    height: 1.5em;
    overflow: hidden;
    text-align: justify; 
    padding-right: 5%;
}

.message-description:hover{
    background-color: #e3f2fd;
}

.expand-cursor {
    cursor: pointer;
}

#messagesErrorMessage,
#textMessageErrorMessage,
#emailMessageErrorMessage,
#gmailMessageErrorMessage {
    display: none;
}

.message-star {
    cursor: pointer;
}

.messageDiv {
    padding-right: 0; 
    padding-left: 0;
}