#programsMap {
    height: 300px;
    display: none;
}
#programsErrorMessage{
    display: none;
}
.form-control {
width:auto;
display:inline-block;
}
.facility-star,
.facility-name {
    cursor: pointer;
}

.programsList{
    cursor: default;
}