#recordingsErrorMessage {
    display: none;
}
.recording-star {
    cursor: pointer;
}
.recordingDiv {
    padding-right: 0; 
    padding-left: 0;
}
.recordingDiv p {
    text-align: justify;
    padding-right: 5%;
}