<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}PTSD Project{% endblock %}</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- Fontawesome - For Star Icon -->
    <link rel="stylesheet" 
    href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <!-- Personal styles -->
    <link rel="stylesheet" href="/static/css/signup.css">
    <link rel="stylesheet" href="/static/css/login.css">
    <link rel="stylesheet" href="/static/css/programs.css">
    <link rel="stylesheet" href="/static/css/recordings.css">
    <link rel="stylesheet" href="/static/css/messages.css">
    <link rel="stylesheet" href="/static/css/text_message.css">
</head>
<body>
    <header>
        <h1>finding peace</h1>
        <h2>a resource for people with PTSD</h2>
        {% if 'user_id' not in session %}
        <a href="/signup">Sign Up</a> or
        <a href="/login">Log In</a>
        {% else %}
        <a href="/logout">Log Out</a>
        {% endif %}
    </header>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}
    Menu: 
    <nav>
        <a href="/">Home</a>
        <a href="/programs">Find Programs</a>
        <a href="/recordings">Self Care</a>
        <a href="/messages">Message Templates</a>
    </nav>
    {% block content %}
        CONTENT GOES HERE
    {% endblock %}
    <!-- Bootstrap & jQuery-->
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    {% block personalScripts %}
    {% endblock %}
</body>
</html>