<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}PTSD Project{% endblock %}</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- Fontawesome - For Star Icon -->
    <link rel="stylesheet" 
    href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <!-- Personal styles -->
    <link rel="stylesheet" href="/static/css/signup.css">
    <link rel="stylesheet" href="/static/css/login.css">
    <link rel="stylesheet" href="/static/css/programs.css">
    <link rel="stylesheet" href="/static/css/recordings.css">
    <link rel="stylesheet" href="/static/css/messages.css">
    <link rel="stylesheet" href="/static/css/text_message.css">
</head>
<body>
    <header>
        <img src="/static/img/finding-peace-logo.png" alt="finding peace logo of a bird" style="width:15%; display: inline-block; float: left;">
        <div style="display: inline-block; float: left;">
            <h1>finding peace</h1>
            <h2>a resource for people with PTSD</h2>
            {% if 'user_id' not in session %}
            <a href="/signup">Sign Up</a> or
            <a href="/login">Log In</a>
            {% else %}
            <a href="/logout">Log Out</a>
            {% endif %}
        </div>
    </header>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}
    <nav style="clear: both;" class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Menu</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/programs">Programs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/recordings">Self Care</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="/messages">Message Templates</a>
                </li>
            </ul>
        </div>
    </nav>
    {% block content %}
        CONTENT GOES HERE
    {% endblock %}
    <!-- Bootstrap & jQuery-->
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    {% block personalScripts %}
    {% endblock %}
</body>
</html>