<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}PTSD Project{% endblock %}</title>
    <link rel="stylesheet" 
          href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/messages.css">
    <link rel="stylesheet" href="/static/css/text_message.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>
<body>
    <header>
        <h1>finding peace</h1>
        <h2>a resource for people with PTSD</h2>
        {% if 'user_id' not in session %}
        <a href="/signup">Sign Up</a> or
        <a href="/login">Log In</a>
        {% else %}
        <a href="/logout">Log Out</a>
        {% endif %}
    </header>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}
    Menu: 
    <nav>
        <a href="/">Home</a>
        <a href="/programs">Find Programs</a>
        <a href="/recordings">Self Care</a>
        <a href="/messages">Message Templates</a>
    </nav>
    {% block content %}
        CONTENT GOES HERE
    {% endblock %}
</body>
</html>