{% extends 'base.html' %}

{% block title %}Email Message{% endblock %}

{% block content %}
<div class="container">
    <div class="row mt-5">
        <h1>Email Message</h1>
    </div>

    {% if 'user_id' in session %}
    <div class="row">
        <div class="col-sm-6 removePaddingLeftRight">
            <h2>To</h2>
            <form action="email_message" id="emailMessageForm" method="POST">
                <input type="hidden" id="fromFirstNameEmail" name="from_first_name" value=" {{ user.first_name }}">
                <input type="hidden" id="fromLastNameEmail" name="from_last_name" value=" {{ user.last_name }}">
                <input type="hidden" id="fromEmail" name="from_email" value=" {{ user.email }}">

                <div class="form-group row">
                    <label for="toNameEmail" class="col-sm-5 col-form-label">Name: </label>
                    <div class="col-sm-7">
                        <input type="text" 
                               name="to_name" 
                               id="toNameEmail"
                               class="form-control"
                               placeholder="Name">
                    </div>
                </div>

                 <div class="form-group row">
                    <label for="toEmail" class="col-sm-5 col-form-label">Email address: </label>
                    <div class="col-sm-7">
                        <input type="email" 
                               required
                               name="to_email" 
                               id="toEmail"
                               class="form-control"
                               placeholder="email@domain.com">
                    </div>
                </div>

                 <div class="form-group row">
                    <label for="subject" class="col-sm-5 col-form-label">Subject: </label>
                    <div class="col-sm-7">
                        <input type="text" 
                               name="subject" 
                               id="subject"
                               class="form-control"
                               placeholder="subject">
                    </div>
                </div>          

                <div class="form-group">
                    <h3><label for="bodyMessageEmail">Message Body</label></h3>
                    <br>
                    <textarea name="body_message" id="bodyMessageEmail"> {{ message.message }}</textarea>
                </div>      

                <input type="submit" value="Send Email" class="btn btn-primary">
            </form>
        </div>
        <div class="col-sm-4 removePaddingLeftRight">
            <h2>Preview</h2>
            <div id="previewMessage">
                Hi,
                <br><br>
                {{ message.message }}
                <br><br>
                Best,
                <br>
                {{ user.first_name }} {{ user.last_name }}
            </div>
        </div>
    </div>
    {% else %}
    <div class="row">
        <p><a href="/signup">Sign Up</a> or <a href="/login">Log In</a> to enable sending email message templates.</p>
    </div>
    {% endif %}
</div>
{% endblock %}
{% block personalScripts %}
    <script>/* Set ip preview */
        $('#bodyMessageEmail').height($("#bodyMessageEmail")[0].scrollHeight);
    </script>
    <!-- Personal scripts -->
    <script src="/static/js/email_message.js"></script>
{% endblock %}