{% extends 'base.html' %}

{% block title %}Email Message{% endblock %}

{% block content %}
<h1>Email Message</h1>

{% if 'user_id' in session %}
<div style="display: inline-block; width: 30%;">
<form action="email_message" id="emailMessageForm" method="POST">
    <input type="hidden" id="fromFirstNameEmail" name="from_first_name" value=" {{ user.first_name }}">
    <input type="hidden" id="fromLastNameEmail" name="from_last_name" value=" {{ user.last_name }}">
    <input type="hidden" id="fromEmail" name="from_email" value=" {{ user.email }}">
    <h3>To</h3>
    Name: <input type="text" name="to_name" id="toNameEmail">
    <br>
    Email address: <input type="email" name="to_email" id="toEmail">
    <br>
    Subject: <input type="text" name="subject" id="subject">
    <h3>Message Body</h3>
    <textarea name="body_message" id="bodyMessageEmail"> {{ message.message }}</textarea>
    <br>
    <input type="submit" value="Send Email">
</form>
</div>
<div style="display: inline-block; vertical-align: top; width: 30%;">
    <h3>Preview</h3>
    <div id="previewMessage">
        Hi,
        <br><br>
        {{ message.message }}
        <br><br>
        Best,
        <br>
        {{ user.first_name }} {{ user.last_name }}
    </div>
</div>
{% else %}
<p><a href="/signup">Sign Up</a> or <a href="/login">Log In</a> to enable sending email message templates.</p>
{% endif %}
{% endblock %}
{% block personalScripts %}
    <script>/* Set ip preview */
        $('#bodyMessageEmail').height($("#bodyMessageEmail")[0].scrollHeight);
    </script>
    <!-- Personal scripts -->
    <script src="/static/js/email_message.js"></script>
{% endblock %}