{% extends 'base.html' %}

{% block title %}PTSD Project{% endblock %}

{% block content %}
    <div>
        <h2 id="howToUseSiteTitle">You are not alone.</h2>
        <p> ... some stats and how to use this site ... </p>
    <div>
    <div>
        <h2>National Resources and Hotlines</h2>
        <p> ... </p>
    </div>
    <div>
        <img src="{{ quote.media }}" alt="Hope quote">
        <br>
        Author: {{ quote.author }}. <a href="http://healtruwords.com">http://healtruwords.com</a>
    </div>
    <script>
      (function(d) {
        window['recime-bot'] = '{"id":"a8b83c1e64fd3a2c89b69930a827a5aa","meta":{"user":{"firstName":"Denise","lastName":"Salazar"}}}';
        var s = d.createElement('script');
        s.setAttribute('id', 'recime-chatbot-script');
        s.setAttribute('src', 'https://headchat.recime.io/shim.js');
        s.setAttribute('async', 'async');
        d.getElementsByTagName('body')[0].appendChild(s);
      })(document);
    </script>
{% endblock %}