<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Privacy Policy</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <!-- style -->
    <style>
        h1 {
            color: #00A676; /* like a teal green */
        }
        body {
            background-color: ##F7F9F9;
        }
        section {
            width: 50%;
            text-align: justify;
        }
    </style>
</head>
<body>
    <div>
        <h1>Privacy Policy</h1>
        <section>Keeping your information safe is important. This app uses the Gmail API to send emails on your behalf. That is the only scope in which your information is used. Your email address is not used to send you promotional emails. Your information is not shared with any third parties. This app was made for educational purposes to learn how to make a full stack web app.</section>
    </div>
</body>