{% extends 'base.html' %}

{% block title %}Programs{% endblock %}

{% block content %}
    <h1 id="programsTitle">Programs</h1>
    <p>Search for PTSD facilities by facility name, city, state, or zipcode. Click on a facility name to show the programs available there.</p>
    <form action="/programs.json" method="GET" id="programSearchForm">
        <label>Search: 
            <input type="text" name="search_text" id="search_text" required>
            <select name="search_type" id="search_type">
                <option value="fac_name">name</option>
                <option value="city">city</option>
                <option value="state">state</option>
                <option value="zipcode">zipcode</option>
            </select>
            </label>
            <button type="submit" id="programSearchButton">
                <i class="fas fa-search"></i>
            </button>
    </form>

    <p id="programsErrorMessage"><small><a href="/signup">Sign Up</a> or <a href="/login">Log In</a> to enable favoriting programs.</small></p>
    <div id="programsMap"></div>
    <div id="programsResults"></div>

    <!-- Google maps API -->
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDWAcHlAY8_Z6zH9AvdCuevwKggXg4ceXY"></script>
{% endblock %}
{% block personalScripts %}
    <!-- Personal scripts -->
    <script src="/static/js/programs.js"></script>
{% endblock %}