{% extends 'base.html' %}

{% block title %}Recordings{% endblock %}

{% block content %}
<div class="conainter-fluid">
    <div id="recordingsVideo">
        <video autoplay muted loop id="myVideo">
            <source src="/static/video/Baga-Beach.mp4" type="video/mp4">
        </video>
    </div>
</div>
<div class="container">
    <div class="row mt-5">
        <h1>Self-Care</h1>
        <p>Be kind to yourself and practice self-care. It's the little things we do to help ourselves that can make a difference. Take a walk, buy some flowers, meditate, listen to some relaxing recordings. Sound effects obtained from <a href="https://www.freetousesounds.com">https://www.freetousesounds.com</a></p>
    </div>
    <div class="row mt-5">
        <h1>Recordings</h1>
    </div>
    <div class="row">
        <p class="alert alert-primary" id="recordingsErrorMessage"><small><a href="/signup">Sign Up</a> or <a href="/login">Log In</a> to enable favoriting recordings.</small></p>
    </div>
    <div class="row">
        {% for recording in recordings %}
        <div class="col-sm-12 col-md-6 mt-3 recordingDiv">
            <h2>{% if recording[1] != None %}
                 <i class="recording-star fas fa-star" data-recordingid="{{ recording[0].recording_id }}"></i>
                {% else %}
                <i class="recording-star far fa-star" data-recordingid="{{ recording[0].recording_id }}"></i>
                {% endif %}
                {{ recording[0].name }}
            </h2>
            <p>{{ recording[0].description }}</p>
            <audio controls>
                <source src="{{ recording[0].file_path }}" type="audio/wav">
            </audio>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
{% block personalScripts %}
    <!-- Personal scripts -->
    <script src="/static/js/recordings.js"></script>
{% endblock %}