{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<div class="container mt-5">
  <div class="row">
    <h1>Sign Up</h1>
  </div>
  <div class="row">
    <p>Signing up allows you to send message templates and favorite different features of this site. Fill out the form to proceed.</p>
  </div>
  <div class="row">
    <form id="signUpForm" action="/signup" method="POST">
        
        <div class="form-group row">
          <label for="signUpFirstName" class="col-sm-2 col-form-label">First name: </label>
          <div class="col-sm-10">
            <input type="text" 
                    id="signUpFirstName"
                    name="first_name"
                    class="form-control"
                    placeholder="First Name">
          </div>
        </div>

        <div class="form-group row">
          <label for="signUpLastName" class="col-sm-2 col-form-label">Last name: </label> 
          <div class="col-sm-10">
              <input type="text" 
                     id="signUpLastName"
                     name="last_name"
                     class="form-control"
                     placeholder="Last Name">
          </div>
        </div>
          
        <div class="form-group row">
          <label for="signUpEmail" class="col-sm-2 col-form-label">Email:<sup><b>*</b></sup></label>
          <div class="col-sm-10">
            <input type="email" 
                   name="email"
                   id="signUpEmail"
                   required
                   class="form-control"
                   placeholder="email@domain.com">
          </div>
        </div>

        <div class="form-group row">
          <label for="signUpPhone" class="col-sm-2 col-form-label">Phone number: </label>
          <div class="col-sm-10">
              <input type="tel" 
                     pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" 
                     placeholder="000-000-0000" 
                     id="signUpPhone"
                     name="phone"
                     class="form-control">
          </div>
        </div>

        <div class="form-group row">
          <label for="signUpUsername" class="col-sm-2 col-form-label">Username:<sup><b>*</b></sup></label>
          <div class="col-sm-10">
              <input type="text" 
                     pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" 
                     title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" 
                     id="signUpUsername" 
                     name="username" 
                     required
                     class="form-control"
                     placeholder="Username"
                     aria-describedby="usernameHelp">
              <small id="usernameHelp" class="form-text text-muted">Username must contain at least one number and one uppercase and lowercase letter, and at lease 8 or more characters.</small>
          </div>
        </div>
        
        <div class="form-group row">
          <label for="signUpPassword1" class="col-sm-2 col-form-label">Password:<sup><b>*</b></sup></label>
          <div class="col-sm-10">
              <input type="password" 
                  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" 
                  title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
                  id="signUpPassword1" 
                  name="password1" 
                  required
                  class="form-control"
                  placeholder="Password"
                  aria-describedby="password1Help">
              <small id="password1Help" class="form-text text-muted">Password must contain at least one number and one uppercase and lowercase letter, and at lease 8 or more characters.</small>
          </div>
        </div>


        <div class="form-group row">
          <label for="signUpPassword2" class="col-sm-2 col-form-label">Re-enter password:<sup><b>*</b></sup></label>
          <div class="col-sm-10">
              <input type="password" 
                      pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" 
                      title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" 
                      id="signUpPassword2" 
                      name="password2" 
                      required
                      class="form-control"
                      placeholder="Password"
                      aria-describedby="password2Help">
              <small id="password2Help" class="form-text text-muted">Password and re-entered password must match.</small>
          </div>
        </div>

        <input type="submit" 
               value="Submit Form"
               class="btn btn-primary">
    </form>
  </div>

  <div class="row mt-3">
    <p id="signUpErrorMessage"></p>
  </div>
  <div class="row">
    <p>Already signed up? Login <a href="/login">here</a>.</p>
  </div>
</div>
{% endblock %}
{% block personalScripts %}
    <!-- Personal scripts -->
    <script src="/static/js/signup.js"></script>
{% endblock %}