{% extends 'base.html' %}

{% block title %}Text Message{% endblock %}

{% block content %}
<div class="container">
    <div class="row mt-5">
        <h1>Text Message</h1>
    </div>

    {% if 'user_id' in session %}
    <div class="row">
        <div class="col-sm-6 removePaddingLeftRight">
            <h2>To</h2>
            <form action="/text_message" id="textMessageForm" method="POST">
                <input type="hidden" id="fromFirstName" name="from_first_name" value=" {{ user.first_name }}">
                <input type="hidden" id="fromLastName" name="from_last_name" value=" {{ user.last_name }}">

                <div class="form-group row">
                    <label for="toName" class="col-sm-5 col-form-label">Name: </label>
                    <div class="col-sm-7">
                        <input type="text" 
                               name="to_name" 
                               id="toName"
                               class="form-control"
                               placeholder="Name">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="toPhoneNumber" class="col-sm-5 col-form-label">Phone number: </label>
                    <div class="col-sm-7">
                        <input type="text" 
                               name="phone" 
                               id="toPhoneNumber" 
                               placeholder="000-000-0000" 
                               class="form-control"
                               pattern="\d{3}[\-]\d{3}[\-]\d{4}"
                               aria-describedby="phoneNumberHelp">
                        <small id="phoneNumberHelp" class="form-text text-muted">Only U.S. numbers allowed in current version.</small>
                    </div>
                </div>

                <div class="form-group">
                    <h2><label for="bodyMessage">Message Body</label></h2>
                    <br>
                    <textarea name="body_message" id="bodyMessage"> {{ message.message }}</textarea>
                </div>
                
                <input type="submit" value="Send Text" class="btn btn-primary">
            </form>
        </div>
        <div class="col-sm-4 removePaddingLeftRight">
            <h2>Preview</h2>
            <div id="previewMessage">
                Hi,
                <br><br>
                {{ message.message }}
                <br><br>
                Best,
                <br>
                {{ user.first_name }} {{ user.last_name }}
            </div>
        </div>
    </div>
    {% else %}
    <div class="row">
        <p><a href="/signup">Sign Up</a> or <a href="/login">Log In</a> to enable sending text message templates.</p>
    </div>
    {% endif %}
</div>
{% endblock %}
{% block personalScripts %}
    <script>
    /* Set ip preview */
        $('#bodyMessage').height($("#bodyMessage")[0].scrollHeight);
    </script>
    <!-- Personal scripts -->
    <script src="/static/js/text_message.js"></script>
{% endblock %}